<!-- home.j2 -->
{% extends "base.j2" %}

{% block content %}
    <div id="home_items">
      <p>* Track posture changes</p>
      <p>* Track Improve your body</p>
      <p>* Feel your best</p>
      </div>
{% endblock %}
