<!-- about.html -->
{% extends "base.j2" %}

{% block content %}
    {% for result in results %}
    
    
    <table>
    <p>{{result.date}}</p>
   
    <form action="/delete_result" method="POST">
                <input type="hidden" name="data_id" value="{{ result.id }}">
                <button type="submit" class="delete-button">Delete</button>
              </form>
      <thead>
        <tr>
          <th>Condition</th>
          <th>Strengthem</th>
          <th>Stretch</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in result.issues.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value.weak }}</td>
          <td>{{ value.tight }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endfor %}

  <img src="{{ url_for('static', filename='graphs/neck_graph.png') }}" alt="Graph">
  <img src="{{ url_for('static', filename='graphs/back_graph.png') }}" alt="Graph">
  <img src="{{ url_for('static', filename='graphs/hip_graph.png') }}" alt="Graph">
  
{% endblock %}


